/* Mixins : @include */
@mixin box-shadow($x-offset, $y-offset, $blur, $spread, $color, $position) {
  -webkit-box-shadow: $x-offset $y-offset $blur $spread $color $position;
  -moz-box-shadow: $x-offset $y-offset $blur $spread $color $position;
  box-shadow: $x-offset $y-offset $blur $spread $color $position;
}
@mixin box-shadow-none() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($property, $duration, $type, $delay) {
  -webkit-transition: $property $duration $type $delay;
  -moz-transition: $property $duration $type $delay;
  -o-transition: $property $duration $type $delay;
  transition: $property $duration $type $delay;
}
@mixin animation($properties) {
  -webkit-animation: #{$properties};
  -moz-animation: #{$properties};
  -o-animation: #{$properties};
  animation: #{$properties};
}


/* Common Tags */
html {
  height: 100%;
}
body {
  min-width: $minSiteWidth;
  height: 100%;
  background: url('../img/section-bg.jpg') 50% 50% no-repeat #fff;
  background-size: cover;
  background-attachment: fixed;
  font: 400 18px/1.5 $fontFamily;
}
img {
  max-width: 100%;
}
a {
  color: $colorPrimary;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
    outline-offset: 2px;
  }
}


/* Common Classes : @extend */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}