// Layout
$maxSiteWidth: 1800px;
$minSiteWidth: 480px;
$sitePadding: 50px;

// Media
$mediaSmallSize: "(max-width: 768px)";
$mediaMediumSize: "(min-width: 769px) and (max-width: 1200px)";
$mediaLargeSize: "(min-width: 1201px)";

// Colors
$colorPrimary: #fdba58;

// Typography
$fontFamily: 'Open Sans', sans-serif;
$fontAwesome: 'FontAwesome';