/* Button */
.button {
  display: inline-block;
  @extend .border-box;
  padding: 21px 74px;
  border: 2px solid $colorPrimary;
  @include border-radius(0);
  @include box-shadow-none();
  background: rgba($colorPrimary, 0);
  font: 800 18px/1.2 $fontFamily;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  @include transition(background-color, 0.2s, ease, 0s);

  @media #{$mediaMediumSize} {
    padding: 18px 54px;
    font-size: 16px;
  }
  @media #{$mediaSmallSize} {
    padding: 15px 40px;
    font-size: 14px;
  }

  &:hover, &:active {
    background: rgba($colorPrimary, 1);
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }

  .contact & {
    border-color: #257fb3;

    &:hover, &:active {
      background: rgba(#257fb3, 1);
    }
  }
}