/* Common Form */
.form {
  width: 100%;
  @extend .border-box;

  &-control {
    margin: 0 0 20px;
  }
  &-submit {
    margin: 80px 0 0;

    @media #{$mediaMediumSize} {
      margin-top: 60px
    }
    @media #{$mediaSmallSize} {
      margin-top: 40px;
    }
  }
}