/* Section About */
.about {
  text-align: center;

  &-title {
    position: relative;
    margin: 0 0 90px;
    font-weight: 800;
    font-size: 100px;
    line-height: 1.1;
    text-transform: uppercase;
    
    @media #{$mediaMediumSize} {
      margin-bottom: 70px;
      font-size: 64px;
    }
    @media #{$mediaSmallSize} {
      margin-bottom: 50px;
      font-size: 36px;
    }

    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -45px;
      left: 0;
      display: block;
      width: 190px;
      margin: 0 auto;
      border-top: 2px solid $colorPrimary;

      @media #{$mediaMediumSize} {
        width: 150px;
        bottom: -35px;
      }
      @media #{$mediaSmallSize} {
        width: 100px;
        bottom: -25px;
      }
    }
  }
  &-description {
    max-width: 900px;
    margin: 0 auto 2em;
    font-size: 26px;

    @media #{$mediaMediumSize} {
      font-size: 18px;
    }
    @media #{$mediaSmallSize} {
      font-size: 14px;
    }
  }
}