/* Section Work */
.work {
  font-size: 18px;
  text-align: center;

  @media #{$mediaMediumSize} {
    font-size: 16px;
  }
  @media #{$mediaSmallSize} {
    font-size: 14px;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    $rootBlock: &;

    &-item {
      float: left;
      position: relative;
      display: inline-block;
      width: 25%;
      @extend .border-box;
      padding: 165px 2% 0;

      @media #{$mediaMediumSize} {
        padding-top: 140px;
      }
      @media #{$mediaSmallSize} {
        float: none;
        display: inline-block;
        width: auto;
        max-width: 300px;
        margin: 20px 30px;
        padding: 140px 0 0;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 140px;
        height: 140px;
        margin: 0 0 0 -70px;
        background: url('../img/work/work-icons.png') no-repeat;
      }

      &.design:before { background-position: 0 0; }
      &.development:before { background-position: -140px 0; }
      &.strategy:before { background-position: 0 -140px; }
      &.bigdata:before { background-position: -140px -140px; }
    }

    &-title {
      margin: 0 0 0.8em; 
      font-weight: 300;
      font-size: 2em;
      line-height: 1.2;
      text-transform: uppercase;

      #{$rootBlock}-item.design & { color: #fcb957; }
      #{$rootBlock}-item.development & { color: #f16682; }
      #{$rootBlock}-item.strategy & { color: #00babe; }
      #{$rootBlock}-item.bigdata & { color: #bbd86b; }

      @media #{$mediaMediumSize} {
        font-size: 1.3em;
      }
    }
    &-description {
      margin: 0;
    }
  }
}