/* Section Start */
.start {
  text-align: center;

  &-title {
    position: relative;
    margin: 0 0 90px;
    font-weight: 800;
    font-size: 100px;
    line-height: 1.1;
    text-transform: uppercase;

    @media #{$mediaMediumSize} {
      margin-bottom: 70px;
      font-size: 64px;
    }
    @media #{$mediaSmallSize} {
      margin-bottom: 50px;
      font-size: 36px;
    }

    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -45px;
      left: 0;
      display: block;
      width: 190px;
      margin: 0 auto;
      border-top: 2px solid $colorPrimary;

      @media #{$mediaMediumSize} {
        width: 150px;
        bottom: -35px;
      }
      @media #{$mediaSmallSize} {
        width: 100px;
        bottom: -25px;
      }
    }
  }
  &-description {
    display: inline-block;
    max-width: 900px;
    margin: 0 0 1em;
    font-size: 26px;

    @media #{$mediaMediumSize} {
      font-size: 18px;
    }
    @media #{$mediaSmallSize} {
      font-size: 14px;
    }
  }

  &-social {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    &-item {
      display: inline-block;
      vertical-align: middle;
    }
    &-link {
      display: block;
      width: 48px;
      height: 48px;
      margin: 0 23px;
      @include border-radius(50%);
      background-color: #000;
      background-color: rgba(0,0,0,0.5);
      line-height: 48px;
      font-size: 21px;
      color: inherit;
      text-decoration: none;
      text-align: center;
      @include transition(background-color, 0.2s, ease, 0s);
      cursor: pointer;

      &:hover, &:active {
        text-decoration: none;
      }

      &:focus {
        outline: 1px dotted;
        outline-offset: 2px;
      }

      &.instagram {
        &:hover, &:active { background-color: #3f729b; }
      }
      &.twitter {
        &:hover, &:active { background-color: #55acee; }
      }
      &.facebook {
        &:hover, &:active { background-color: #3b5998; }
      }
    }
  }
}