/* Section Contact */
.contact {
  text-align: center;
  overflow: hidden;

  &-block {
    position: relative;
    height: 100%;
    overflow: hidden;
    @include transition(all, 0.5s, ease, 0s);

    @media #{$mediaSmallSize} {
      float: none;
      width: auto;
      height: auto;
    }

    &.left {
      background-color: #fff;
    }
    &.right {
      float: right;
      width: 50%;
      background-color: #2b93d1;
      color: #fff;
    }
  }

  &-title {
    position: relative;
    margin: 0 0 0.6em;
    padding: 100px 0 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    color: #2b93d1;
    text-transform: uppercase;

    @media #{$mediaMediumSize} {
      font-size: 36px;
    }
    @media #{$mediaSmallSize} {
      font-size: 28px;
    }

    &:before {
      content: "\f075";
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 70px;
      height: 70px;
      margin: 0 0 0 -35px;
      font: 400 64px/65px $fontAwesome;
    }
  }
  &-description {
    max-width: 380px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;

    @media #{$mediaMediumSize} {
      font-size: 24px;
    }
    @media #{$mediaSmallSize} {
      font-size: 18px;
    }
  }
  &-form {
    max-width: 620px;
    margin: 0 auto;
  }
}