/* Layout */
.site-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 200px;
  @extend .border-box;
  padding: 35px $sitePadding;
  @include box-shadow(0, 160px, 200px, -200px, #000, inset);

  @media #{$mediaSmallSize} {
    position: absolute;
  }
}
.site-content {
  position: relative;
  z-index: 1;
  height: 100%;
}
.site-section {
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;

  $rootSection: &;

  &.start {}

  &.work,
  &.about,
  &.contact {

    @media #{$mediaSmallSize} {
      height: auto;
    }
  }


  &.style-light { background-color: #fff; color: #666; }
  &.style-dark  { background-color: #212121; color: #fff; }
  &.style-image { 
    background: url('../img/section-bg.jpg') 50% 50% no-repeat #fff;
    background-size: cover;
    background-attachment: fixed;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: $maxSiteWidth;
    width: 100%;
    margin: 0 auto;
    @extend .border-box;
    padding: 50px $sitePadding;
    transform: translate(-50%, -50%);

    #{$rootSection}.start {}
  
    #{$rootSection}.work &,
    #{$rootSection}.about &,
    #{$rootSection}.contact & {

      @media #{$mediaSmallSize} {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }
    }
  }

}
.site-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #212121;
  color: #fff;

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 100px;
    height: 117px;
    margin: -59px 0 0 -50px;
  }
  &-logo {
    display: block;
    width: 100%;
    height: 100%;
  }

  // Circle Animation
  @-webkit-keyframes animateOverlayCircle {
    0%   { left: -75%; background-color: #1EC7B2; }
    20%  { background-color: #EC6889; }
    25%  { left: 175%; }
    40%  { background-color: #B0D46B; }
    50%  { left: -75%; }
    60%  { background-color: #379DD1; }
    75%  { left: 175%; }
    80%  { background-color: #FAB860; }
    100% { left: -75%; background-color: #1EC7B2; }
  }
  @-moz-keyframes animateOverlayCircle {
    0%   { left: -75%; background-color: #1EC7B2; }
    20%  { background-color: #EC6889; }
    25%  { left: 175%; }
    40%  { background-color: #B0D46B; }
    50%  { left: -75%; }
    60%  { background-color: #379DD1; }
    75%  { left: 175%; }
    80%  { background-color: #FAB860; }
    100% { left: -75%; background-color: #1EC7B2; }
  }
  @-o-keyframes animateOverlayCircle {
    0%   { left: -75%; background-color: #1EC7B2; }
    20%  { background-color: #EC6889; }
    25%  { left: 175%; }
    40%  { background-color: #B0D46B; }
    50%  { left: -75%; }
    60%  { background-color: #379DD1; }
    75%  { left: 175%; }
    80%  { background-color: #FAB860; }
    100% { left: -75%; background-color: #1EC7B2; }
  }
  @keyframes animateOverlayCircle {
    0%   { left: -75%; background-color: #1EC7B2; }
    20%  { background-color: #EC6889; }
    25%  { left: 175%; }
    40%  { background-color: #B0D46B; }
    50%  { left: -75%; }
    60%  { background-color: #379DD1; }
    75%  { left: 175%; }
    80%  { background-color: #FAB860; }
    100% { left: -75%; background-color: #1EC7B2; }
  }

  &-circle {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: -1;
    display: none;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    @include border-radius(50%);
    background: #fdba58;
    @include animation('animateOverlayCircle 2s ease-in-out 0s infinite alternate');
  }
}