/* Site Navigation */
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: right;

  &-item {
    display: inline-block;
    margin: 0 0 0 40px;
    vertical-align: middle;

    @media #{$mediaSmallSize} {
      margin-left: 20px;
    }
  }
  &-link {
    position: relative;
    color: inherit;
    text-decoration: none;
    @include transition(color, 0.2s, ease, 0s);

    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;
      display: block;
      width: 0;
      margin: 0 auto;
      border-top: 2px solid $colorPrimary;
      transition: all 0.2s ease 0s;
      opacity: 0;

      @media #{$mediaSmallSize} {
        display: none;
      }
    }

    &:hover, &:active {
      text-decoration: none;

      @media #{$mediaSmallSize} {
        color: $colorPrimary;
      }

      &:before {
        width: 100%;
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
    }
  }
}