/* Site Logo */
.site-logo {
  float: left;
  width: 139px;
  height: 21px;
  margin: 0 0 20px 0;
  font-size: 1.2em;
  color: #fff;
  background: url('../img/site-light-logo.png') 0 0 no-repeat;
  text-transform: uppercase;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}