/* Textfield */
.textfield {
  display: block;
  width: 100%;
  @extend .border-box;
  padding: 15px 16px;
  border: 1px solid #f1f8fc;
  @include border-radius(0);
  background: none;
  @include box-shadow-none();
  font: 400 20px $fontFamily;
  color: #fff;
  text-align: left;
  @include transition(background-color, 0.2s, ease, 0s);

  @media #{$mediaMediumSize} {
    font-size: 18px;
  }
  @media #{$mediaSmallSize} {
    font-size: 16px;
  }

  &::-webkit-input-placeholder { opacity: 1; }
  &::-moz-placeholder { opacity: 1; }
  &:-moz-placeholder { opacity: 1; }
  &:-ms-input-placeholder { opacity: 1; }

  &:hover, &:active {
    border-color: #fff;
  }
  &:focus {
    background: #fff;
    @include box-shadow-none();
    color: #666;
    outline: none;
  }
}
textarea.textfield {
  height: 200px;
  resize: none;
}